* {
  font-family: "Uthmani", serif;
}

.navbar {
  background-color: #055d7c;
  height: 125px;
  font-weight: bolder;
}

.navbar-surat {
  background-color: #055d7c;
  height: 60px;
  font-weight: bolder;
}

.card-surat {
  cursor: pointer;
  transition: 0.5s;
}

.card-surat:hover {
  background-color: #1e6d89;
  color: white;
}

@font-face {
  font-family: "Uthmani";
  src: url("css/font/UthmanicHafs1Ver09.otf") format("truetype");
}

.arabic {
  font-size: 28px;
  font-weight: normal;
  padding: 0 5px;
  margin: 0;
}
